<div class="jumbotron">
  <div class="shadow"></div>
  <div class="container">
    <nav class="navbar navbar-light">
      <a class="navbar-brand text-white">Chat App</a>
      <% if user_signed_in? %>
        <div class="navbar__sign-out-btn">
          <%= link_to  current_user.username, "#", class: "btn my-2 my-sm-0 text-white" %>
          <%= link_to "ログアウト", destroy_user_session_path, class: "btn my-2 my-sm-0 text-white", method: :delete %>
        </div>
      <% else %>
        <div class="navbar__sign-in-btn">
          <%= link_to "ログイン", new_user_session_path, class: "btn my-2 my-sm-0 text-white" %>
        </div>
      <% end %>
    </nav>
  </div>

  <div class="top-title">
    <h1 class="text-white text-center">
      Connect with the world
    </h1>
  </div>

  <div class="top-authentication text-center">
    <div class="top-authentication__sign-up-btn m-3">
      <%= link_to "アカウントを作成する", new_user_registration_path, class: "btn text-white" %>
    </div>
    <div class="top-authentication__sign-in-btn m-3">
      <%= link_to "ログイン", new_user_session_path, class: "btn text-white" %>
    </div>
  </div>
</div>