<div class="sign-in-page">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h1 class="card-title">Sign IN</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :username, class: 'form-label' %>
          <%= f.text_field :username, autofocus: true, autocomplete: "username", class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :password, class: 'form-label'  %>
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="sign-in__submit-btn">
          <%= f.submit "Log in", class: "btn btn-block text-white" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>